opencv-python
numpy
matplotlib
streamlit
langgraph
langgraph-checkpoint-sqlite
langchain
langchain-community
langchain-groq
ddgs
tavily-python
langchain-tavily
google-api-python-client
serpapi
streamlit-webrtc
huggingface_hub
google-search-results
pillow
streamlit-lottie







